@font-face {
    font-family: 'GraphikArabic';
    src: url('assets/fonts/GraphikArabic-Bold.woff2') format('woff2'),
    font-weight: bold;
    font-style: normal;
	font-display: fallback;
}

@font-face {
    font-family: 'Estedad-MDarvishi';
    src: url('assets/fonts/Estedad-Mad.woff2') format('woff2'),
    font-weight: bold;
    font-style: normal;
	font-display: fallback;
}

@font-face {
    font-family: 'Vazir-Medium';
    src: url('assets/fonts/Vazir-Medium.woff2') format('woff2'),
    font-weight: bold;
    font-style: normal;
	font-display: fallback;
}
